<%= form_for(@user_task_assignment) do |f| %>
  <% if @user_task_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_task_assignment.errors.count, "error") %> prohibited this user_task_assignment from being saved:</h2>

      <ul>
      <% @user_task_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.text_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
